/* table { */
    /* border-collapse: collapse; */
    /*убираем пустые промежутки между ячейками*/
    /* border: 1px solid grey; */
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    /* width: 1700px; */
 /* } */

 /* th {
    border: 1px solid grey;
 }
 
 td {
    border: 1px solid grey;
 } */
 
 table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 90%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
  }
  th {
    font-weight: normal;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #234425;
    padding: 10px 8px;
  }
  td {
    border-bottom: 1px solid rgb(47, 150, 124);
    color: rgb(51, 54, 54);
    padding: 9px 8px;
    transition: .3s linear;
  }
  tr:hover td {
    background: #a3dfc1;
  }

.par {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}  

.in {
    padding-bottom: 70px;
}